* {
    font-family: 'Figtree', sans-serif;
}
.serp-preview {
    padding: 20px;
    background: #fff;
    margin-left: 0;
    margin-top: 10px;
}
.serp-preview > div {
    position: relative;
    z-index: 1;
    display: block;
    overflow: hidden;
    max-width: 630px;
    margin: 0;
}
.serp-preview .serp-url {
    font-size: 14px;
    line-height: 16px;
    margin: 3px 0 5px;
    color: #006621;
}
.serp-title {
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #1a0dab;
}
.serp-description {
    font-size: 13px;
    line-height: 1.4;
    word-wrap: break-word;
    color: #545454;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
  border: 1px solid white;
  border-collapse: collapse;
}
td{
    text-wrap: wrap;
    font-size: 16px;
    color: #1F2F2F;
}
td a{
    text-wrap: wrap;
    font-size: 16px;
    color: #1F2F2F;
}
table thead {
    background-color: #799f92;
    text-align: left;
    border: none;
    color: #fff;
}
table thead th {
    padding: 10px 15px;
    color: #fff;
    min-width: 200px;
    font-weight: 600;
}
table tbody td {
    padding: 8px;
}
tbody tr:nth-child(2n),
table tbody tr:nth-child(2n) {
    background-color: #f1f1f1;
}